<h1>Login</h1>
<form id="login-form">
    <input type="text" id="email" placeholder="email" required>
    <input type="password" id="password" placeholder="Password" required>
    <button type="submit">Login</button>
  </form>
  
  <script>
    document.getElementById('login-form').addEventListener('submit', function (e) {
      e.preventDefault();
  
      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;
      const token = localStorage.getItem('token');
      fetch('/user/login', {
        Authorization: token,
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ email, password }),
      })
        .then((response) => {
          console.log(response)
          if (response.status === 200) {
            window.location.href = '/home'; // Redirect to the home page on successful login
          } else {
            alert('Login failed. Please check your credentials.');
          }
        })
        .catch((error) => {
          console.error('Login error:', error);
        });
    });
  </script>